/*
  ABOUT
*/

.about-container {
  padding-top: 150px;
  padding-left: 55px;
  padding-bottom: 0px;
  padding-right: 55px;
  width: 100%;
}

.about-txt {
  margin-top: 150px;
}

.about-sidetxt {
  font-family: forma-djr-banner, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 400px;
  /* identical to box height, or 476px */

  text-align: left;

  color: var(--dark40);

  
  z-index: 2;
  position:absolute;
  transform: translateX(-22%) translateY(-30%) rotate(-90deg);
  transform-origin: right;
}

.about-sidetxt-container {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  position: relative;
}

.about-photo {
  margin-top: 60px;
  width: 80%;
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
}
.about-photo-top {
  position: relative; top: 0; left: 0; z-index: 3;
  transition: 0.5s filter ease;
  transition-delay: 0.2s;
}
.about-photo-middle {
  position: absolute; z-index: 2; left: 4rem; height: 90%;
  transition: 0.5s filter ease;
  transition-delay: 0.1s;
}
.about-photo-bottom {
  position: absolute; z-index: 1; left: 8rem; height: 80%;
  transition: 0.5s filter ease;
}

.about-photo-top:hover {
  filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));
  transition: 0.5s filter ease;
}
.about-photo-top:hover + .about-photo-middle {
  filter: drop-shadow(0px 7.5px 27.5px rgba(0, 0, 0, 0.25));
  transition: 0.5s filter ease;
  transition-delay: 0.1s;
}
.about-photo-top:hover ~ .about-photo-bottom {
  filter: drop-shadow(0px 5px 25px rgba(0, 0, 0, 0.25));
  transition: 0.5s filter ease;
  transition-delay: 0.2s;
}

.about-photo-middle:hover {
  filter: drop-shadow(0px 7.5px 27.5px rgba(0, 0, 0, 0.25));
  transition: 0.5s filter ease;
}
.about-photo-middle:hover ~ .about-photo-bottom {
  filter: drop-shadow(0px 5px 25px rgba(0, 0, 0, 0.25));
  transition: 0.5s filter ease;
  transition-delay: 0.1s;
}

.about-photo-bottom:hover {
  filter: drop-shadow(0px 5px 25px rgba(0, 0, 0, 0.25));
  transition: 0.5s filter ease;
}

.gallery-btn {
  position: absolute; bottom: 15px; right: 15px;
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateY(7px);
  display: inline-block;
  width: 60px;
}
.gallery-btn:hover {
  width: 200px;
}
.gallery-btn-text {
  opacity: 0;
  transition: opacity 0.2s ease;
  
}
.gallery-btn:hover > .gallery-btn-text {
  opacity: 1;
  transition: opacity 0.2s ease;
  transition-delay: 0.35s;
}

.gallery-container {
  margin: 45px;

}

.gallery-text {
  font-family: forma-djr-banner, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 95px;
  line-height: 91px;

  color: var(--light100)
}

.gallery-image-row-container {
  height: 675px;
  margin-top: 25px;
  margin-bottom: 110px;
  padding-left: 40px;
  padding-right: 40px;
}

.gallery-image-individual-container {
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 55px;
  padding-bottom: 55px;
}

.about-photo:hover > .about-photo-top > .gallery-btn {
  display: inline;
  opacity: 1;
  transform: translateY(0px);
}

.about-teammembers-container {
  margin-top: 100px;
}

.about-teammembers-rowcontainer {
  overflow: auto; 
  padding-bottom: 25px;
  padding-top: 40px;
  margin-left: -55px;
  margin-right: -55px;

  scroll-behavior: smooth;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.about-teammembers-rowcontainer::-webkit-scrollbar {
  display: none;
}

.card {
  border-radius: 0px;
  background: var(--light100);
  width: 381px;
  height: 146px;
  left: 0px;
  top: 0px;

  border: 1px solid #000000;

  transition: all 0.5s ease;
}
.card:hover {
  background: var(--light80);
  border: 1px solid var(--orange80);
}

.card-title {
  font-family: forma-djr-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  
  color: var(--dark100);
  text-transform: uppercase;
}

.card-text {
  font-family: forma-djr-text, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;

  color: var(--dark100);
}

.about-scroller-btn {
  height: 60px;
  width: 60px;
}

.about-scroller-btn-container {
  padding-top: 10px;
 
  float: right;
}

/* OUR SEASON STYLES */

.our-season-container {
  display: inline-block;
  margin-bottom: -150px;
  width: 100%;
  height: max-content;
}

.our-season-txt {
  margin-top: 50px;
}

.our-season-video {
  margin-right: 100px;
  transition: 0.5s filter ease;
}
.our-season-video:hover {
  filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));
  transition: 0.5s filter ease;
}

.our-season-sidetxt {
  font-family: forma-djr-banner, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 400px;
  /* identical to box height, or 476px */
  line-height: 120%;
  text-align: right;

  color: var(--dark40);

  position: absolute;
  z-index: -1;
}

.our-season-sidetxt-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding-left: 60px;
  height: 1000px;
}

.our-season-sidetxt-transition {
  transition-delay: 0.2s;
}

.our-season-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-season-videoplayer {
  width: 500px;
  height: 300px;
}

.our-season-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-teammembers-collast {
  padding-right: 55px;
}


/*RESPONSIVE*/

@media screen and (min-width: 1800px) {
  .about-teammembers-rowcontainer {
    margin-left: calc((108vw - 1800px)/2*(-1));
    margin-right: calc((108vw - 1800px)/2*(-1));
  }
  .about-teammembers-col {
    margin-left: calc((103vw - 1800px)/2);
  }
  .about-teammembers-collast {
    padding-right: calc((103vw - 1800px)/2);
  }
  
}

@media screen and (max-width: 1400px) {
  .about-sidetxt {
    font-size: 300px;
  }
  .our-season-sidetxt {
    font-size: 300px;
  }
  .our-season-sidetxt-container {
    height: 800px;
  }
  .our-season-video {
    margin-right: 35px;
  }
  .our-season-videoplayer {
    width: 400px;
    height: 230px;
  }
}

@media screen and (max-width: 1200px) {
  .our-season-sidetxt {
    display: none;
  }
  .our-season-video {
    margin-right: 0px;
  }
  .our-season-videoplayer {
    width: 80%px;
    
  }
  .our-season-sidetxt-container {
    height: 700px;
  }
}


@media screen and (max-width: 992px) {
  .about-sidetxt-container {
    display: none;
  }
  .our-season-sidetxt {
    display: none;
  }
  .our-season-videoplayer {
    width: 80%;
    height: 400px;
  }
  .our-season-video {
    margin-top: 50px;
  }
  .our-season-sidetxt-container {
    display: inline;
    position: inherit;
    padding-right: 10px;
    padding-left: 10px;
    height: max-content;
  }
}

@media screen and (max-width: 767px) {
  .a-header-br {
    display: none;
  }

  .about-container {
    margin-top: 0px;
    padding-top: 75px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0px;
    width: 100%;
  }
  .about-txt {
    margin-top: 50px;
  }
  .about-teammembers-container {
    margin-top: 100px;
  }
  .about-teammembers-rowcontainer {
    padding-bottom: 25px;
    padding-top: 30px;
    margin-left: -50px;
    margin-right: -55px;
  }
  .card {
    width: 285px;
  }
  .card-text {
    font-size: 16px;
  }
  .about-scroller-btn {
    width: 48px;
    height: 48px;
    padding-right: 12px;
    padding-left: 0px;
  }
  .about-scroller-btn-container {
    padding-top: 0px;
    padding-right: 0px;
    float: right;
  }
  .our-season-container {
    margin-top: 50px;
  }
  .our-season-video {
    margin-top: 20px;
    margin-right: 0px;
    padding: 0 10px;
  }
  .our-season-sidetxt {
    display: none;
  }
  .our-season-content {
    padding-top: 0px;
  }
  .our-season-videoplayer {
    width: 100%;
    height: 200px;
  }
  .our-season-sidetxt-container {
    display: inline;
    position: inherit;
    padding-right: 0px;
    padding-left: 0px;
    height: max-content;
  }


  .about-photo {
    width: 100%;
    margin-top: 30px;
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
  }
  .about-photo-top {
    position: relative; top: 0; left: 0; z-index: 3;
    transition: 0.5s filter ease;
    transition-delay: 0.2s;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
  }
  .about-photo-middle {
    position: absolute; z-index: 2; left: initial; top: 2.5rem; width: 93%;
    transition: 0.5s filter ease;
    transition-delay: 0.1s;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
  }
  .about-photo-bottom {
    position: absolute; z-index: 1; left: initial; top: 5rem; width: 85%;
    transition: 0.5s filter ease;
  }
  .gallery-btn {
    display: none;
  }
  .gallery-btn:hover {
    display: none;
  }
  .about-photo:hover > .about-photo-top > .gallery-btn {
    display: none;
  }
}