/*
  GLOBAL ROOT COLORS
*/

:root {
  --orange100: #FE7500;
  --orange80: #FFB428;
  --dark100: #000000;
  --dark90: #131313;
  --dark80: #1F1F1F;
  --dark60: #4D6366;
  --dark40: #3A9494;
  --light100: #FFFFFF;
  --light80: #FFFBFB;
  --light60: #f4f4f4;
}