.footer-container {
  padding: 80px 55px;
  padding-bottom: 25px;
  height: min-content;
  float: inline-end;
}

.footer-col {
  width: max-content;
  margin-bottom: 70px;
  margin-right: 40px;
}

.footer-list {
  list-style-type: none;
  margin: 2px;
  padding: 0;
}

.footer-link {
  font-family: forma-djr-deck, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: var(--dark100);

  margin: 12px 0px;
}
.footer-link:hover {
  color: var(--dark100);
}

.footer-c {
  font-family: forma-djr-text, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
  margin-top: 15px;

  text-align: right;

  color: var(--dark60);
}


/* RESPONSIVE */

@media screen and (max-width: 767px) {
  .footer-container {
    padding: 70px 25px;
    padding-bottom: 5px;
    float: inline-start;
    margin-left: 0px;
  }
  .footer-col {
    margin-right: 5px;
  }
  .footer-c {
    font-size: 14px;
    margin-top: 0px;
  }
}