.footer-container {
  padding: 80px 55px;
  height: min-content;
}

.footer-list {
  list-style-type: none;
  margin: 2px;
  padding: 0;
}

.footer-link {
  font-family: forma-djr-deck, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: var(--dark100);

  margin: 12px 0px;
}
.footer-link:hover {
  color: var(--dark100);
}