/* 
  MAIN GLOBALS 
*/

html {
  scroll-behavior: smooth;
}

html.has-scroll-smooth {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body {
  background-color: var(--light100);
}

.responsive {
  width: 100%;
  height: auto;
}

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 40
}

/*
  BUTTONS
*/

.btn-icon {
  float: right; 
  padding-top: 1.5px;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active, 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}

.btn-primary {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  border-radius: 0;
  border: none;
  background: var(--orange80);

  color: var(--dark100);
  height: 60px;
  width: 200px;

  padding-left: 18px;
  padding-right: 18px;
  text-align: left;

  transition: all 0.5s ease;
}

.btn-primary:hover {
  background-color: var(--orange100);
  border: none;
  color: var(--light100);
}
.btn-primary:focus {
  background-color: var(--orange80);
  border: none;
  color: var(--dark100);
}



.btn-light {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  border-radius: 0;
  border: 1px solid var(--dark100);
  background: var(--light100);

  color: var(--dark100);
  height: 60px;
  width: 200px;

  padding-left: 18px;
  padding-right: 18px;
  text-align: left;

  transition: all 0.5s ease;
}

.btn-light:hover {
  background-color: var(--light80);
  border: 1px solid var(--dark100);
  color: var(--dark100);
  border: 1px solid var(--orange80);
}
.btn-light:focus {
  background-color: var(--light100);
  border: 1px solid var(--dark100);
  color: var(--dark100);
  border: 1px solid var(--orange80);
}


/*
  CONTENT
*/

.img-scroll-animate {
  opacity: 0;
  transition: opacity 2s;
}

.img-scroll {
  opacity: 1;
}

.fade-in {
  opacity: 0;
  transition: all 1s ease;
  transform: translateY(50px);
  display: inline-block;
}

.fade-in-animate {
  opacity: 1;
  transform: translateY(0px);
}

.section-header {
  font-family: forma-djr-banner, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 96px;
  line-height: 91px;

  color: var(--dark100);
}

.section-subheader {
  font-family: forma-djr-banner, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 48px;
  line-height: 95.2%;

  color: var(--dark100);
}

.std-txt {
  font-family: forma-djr-text, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
  line-height: 119%;
  /* or 24px */

  color: var(--dark100);
}

.line {
  width: 0%;
  height: 1px;
  background-color: var(--orange100);
  color: var(--orange100);
  height: 2px;
  opacity: 100%;
  position: relative;
}

.line-animate {
  width: 100%;
  transition: 1s ease;
}

/*
  RESPONSIVE
*/

@media screen and (max-width: 768px) {
  .material-symbols-sharp {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 40
  }
  .btn-primary {
    height: 48px;
    width: 185px;
    font-size: 16px;
    padding-top: 8px;
  }
  .btn-light {
    height: 48px;
    width: 185px;
    font-size: 16px;
  }
  .btn-icon {
    padding-top: 0px;
    margin-top: -1px;
  }
  
}