/* 
  MAIN GLOBALS 
*/

html {
  scroll-behavior: smooth;
}

html.has-scroll-smooth {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body {
  background-color: #EDFFFC;
}

.responsive {
  width: 100%;
  height: auto;
}

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 40
}

/*
  BUTTONS
*/

.btn-icon {
  float: right; 
  padding-top: 1.5px;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active, 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}

.btn-primary {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  border-radius: 0;
  border: none;
  background: #FFB428;

  color: #000;
  height: 60px;
  width: 200px;

  padding-left: 18px;
  padding-right: 18px;
  text-align: left;
}

.btn-primary:hover {
  background-color: #FE7500;
  border: none;
  color: #EDFFFC;
}
.btn-primary:focus {
  background-color: #FFB428;
  border: none;
  color: #000;
}



.btn-light {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  border-radius: 0;
  border: 1px solid #000000;
  background: #EDFFFC;

  color: #000;
  height: 60px;
  width: 200px;

  padding-left: 18px;
  padding-right: 18px;
  text-align: left;
}

.btn-light:hover {
  background-color: #fff;
  border: 1px solid #000000;
  color: #000;
}
.btn-light:focus {
  background-color: #EDFFFC;
  border: 1px solid #000000;
  color: #000;
}


/*
  COVER
*/

.covercard {
  background-color: #EDFFFC;
  box-shadow: 0px -10px 30px rgba(143, 143, 143, 0.25);
  border-radius: 20px 20px 0px 0px;
  height: 7300px; 
  z-index: 1; 
  margin-top: -20px;
  position: relative;
}

.bg-cover {
  background: rgb(255,255,255);
  background: linear-gradient(129deg, rgba(255,255,255,1) 8%, rgba(255,180,40,1) 56%, rgba(254,117,0,1) 100%);
  height: 350px; 
  z-index: 1;
}

.bg-covertext {

  position: relative;

  margin-top: -55px;
  padding-right: 55px;

  font-family: forma-djr-banner, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 300px;
  line-height: 119%;
  /* identical to box height, or 357px */

  text-align: right;
  float: right;

  color: #000000;
}


.cover-headertext {
  font-family: forma-djr-deck, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 96px;
  width: 1150px;
  height: 228px;
  left: 55px;
  top: 70px;
}

.cover-content {
  padding: 50px;
  padding-top: 90px;
}

.cover-btndesc-box {
  padding-top: 50px;
}

.cover-desc {
  font-family: forma-djr-text, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 24px;
  line-height: 119%;
  /* or 29px */

  text-align: right;

  color: #4D6366;
}

.cover-glyph {
  width: 60px;
  height: 60px;
  float: right;
  margin-top: 15px;
}