/* 
  MAIN GLOBALS 
*/

html {
  scroll-behavior: smooth;
}

html.has-scroll-smooth {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body {
  background-color: #FFFBFB;
}

.responsive {
  width: 100%;
  height: auto;
}

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 40
}

/*
  BUTTONS
*/

.btn-icon {
  float: right; 
  padding-top: 1.5px;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active, 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}

.btn-primary {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  border-radius: 0;
  border: none;
  background: #FFB428;

  color: #000;
  height: 60px;
  width: 200px;

  padding-left: 18px;
  padding-right: 18px;
  text-align: left;
}

.btn-primary:hover {
  background-color: #FE7500;
  border: none;
  color: #FFFBFB;
}
.btn-primary:focus {
  background-color: #FFB428;
  border: none;
  color: #000;
}



.btn-light {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  border-radius: 0;
  border: 1px solid #000000;
  background: #FFFBFB;

  color: #000;
  height: 60px;
  width: 200px;

  padding-left: 18px;
  padding-right: 18px;
  text-align: left;
}

.btn-light:hover {
  background-color: #fff;
  border: 1px solid #000000;
  color: #000;
}
.btn-light:focus {
  background-color: #FFFBFB;
  border: 1px solid #000000;
  color: #000;
}


/*
  CONTENT
*/

.section-header {
  font-family: forma-djr-banner, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 96px;
  line-height: 91px;

  color: #000;
}