/*NAVIGATION*/

.navigationBar {
  font-family: forma-djr-deck, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
}

.navbar {
  padding-bottom: 30px;
}

.navButtons {
  padding-top: 25px; 
  padding-right: 30px;
}

.navbar-nav .nav-link {
  color: var(--dark100);
}

.nav-item:hover .nav-link {
  color: var(--dark100);
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
    outline: none;
    padding-top: 12px;
}

.navbar-brand {
  padding-left: 30px;
  padding-top: 25px;
}

.nav-scrolled {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  -moz-backdrop-filter: blur(6px);
}



.nav-overlay {
  position: fixed;
  height: 100vh;
  background: var(--light100);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  transition: 0.7s ease;
  left: 100%;
}

.nav-o-container {
  padding: 25px;
  margin-top: 200px;
  font-family: forma-djr-deck, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 22px;
}

.nav-o-list {
  list-style-type: none;
  margin: 2px;
  padding: 0;
}
.nav-o-listitem {
  margin-bottom: 22px;
  text-decoration: none;
}
.nav-o-listitem:hover {
  color: var(--dark100);
}

.active {
  display: none;
}



@media screen and (min-width: 769px) {
  .nav-overlay {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    padding-left: 15px;
    padding-top: 15px;
  }
  .navbar {
    padding-bottom: 15px;
  }
  .navButtons {
    padding-left: 15px;
  }
}