/*NAVIGATION*/

.navigationBar {
  font-family: forma-djr-deck, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
}

.navbar {
  padding-bottom: 30px;
}

.navButtons {
  padding-top: 25px; 
  padding-right: 30px;
}

.navbar-nav .nav-link {
  color: var(--dark100);
}

.nav-item:hover .nav-link {
  color: var(--dark60);
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
    outline: none;
}

.navbar-brand {
  padding-left: 30px;
  padding-top: 25px;
}

.nav-scrolled {
  backdrop-filter: blur(6px);
  
}