/*
  COVER
*/

.covercard {
  background-color: var(--light100);
  box-shadow: 0px -10px 30px rgba(143, 143, 143, 0.25);
  clip-path: inset(-50px -5px 0px -5px);
  border-radius: 20px 20px 0px 0px;
  height: 700px; 
  z-index: 1; 
  margin-top: -20px;
  position: relative;
}

.bg-cover {
  background: rgb(255,255,255);
  background: linear-gradient(129deg, rgba(255,255,255,1) 8%, rgba(255,180,40,1) 56%, rgba(254,117,0,1) 100%);
  height: 350px; 
  z-index: 1;
}

.bg-covertext {

  position: relative;

  margin-top: -55px;
  padding-right: 55px;

  font-family: forma-djr-banner, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 300px;
  line-height: 119%;
  /* identical to box height, or 357px */

  text-align: right;
  float: right;

  color: var(--dark100);
}


.cover-headertext {
  font-family: forma-djr-deck, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 96px;
  width: 1150px;
  height: 228px;
  left: 55px;
  top: 70px;
}

.cover-content {
  padding: 50px;
  padding-top: 95px;
}

.cover-btndesc-box {
  padding-top: 50px;
}

.cover-desc {
  font-family: forma-djr-text, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 24px;
  line-height: 119%;
  /* or 29px */

  text-align: right;

  color: var(--dark60);
}

.cover-glyph {
  width: 60px;
  height: 60px;
  float: right;
  margin-top: 15px;
}